<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <title>LinkBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <%= link_to 'Link Board', root_path, class: 'navbar-brand' %>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
        <% if @current_user %>
          <%= link_to 'Logout', logout_path %>
        <% else %>
          <li><%= link_to 'Signup', signup_path %></li>
          <li><%= link_to 'Login', login_path %></li>
        <% end %>
        </ul>
        <% if @current_user %>
          <p class="navbar-text navbar-right">Signed in as <%= @current_user.name %></p>
        <% end %>
      </div>
    </div>
  </nav>

  <div class="container">
    <%= render 'partials/flash' %>
  </div>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
